.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}
.cart-container{
    background-color: #FFE0B3;
}
@media only screen and (max-width:688px){
    .shop-container{
        grid-template-columns: repeat(1,1fr);
        margin-right: 0;
    }
    .products-container{
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
    }
}
@media only screen and (min-width:689px) and (max-width:990px){
    .products-container{
        grid-template-columns: repeat(2, 1fr);
        gap:10px;
        margin: 10px 10px;
    }
}